<nav class="navbar fixed-top navbar-expand-lg fw-bold navbar-dark" aria-label="Eighth navbar example">
  <div class="container">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbars" aria-controls="navbars" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbars">
      <ul id="navbars-itens" class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngFor="let navItem of listNavbar"><a class="nav-link" href="#{{navItem.idRef}}">{{navItem.name}}</a></li>
      </ul>

      <app-switch-theme></app-switch-theme>
    </div>
  </div>

  <app-serrated-mountains></app-serrated-mountains>
</nav>
