nav {
  background: var(--bg-nav) !important;
}

#navbars-itens {
  text-align: center;
}

.bi-moon-stars,
.bi-sun {
  font-size: 1rem;
  color: var(--text-color);
  margin: 0 0.5rem;
}

.bi-sun {
  font-size: 1.3rem;
}

.form-switch {
  display: flex;
  justify-content: center;
}

.navbar-brand {
  height: 50px;
  width: 50px;
  border-radius: 40%;
  background-image: url(../../../assets/images/brand-theme-1.png); // 1
  background-size: cover;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.change-theme-info {
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  animation: pulse 2s infinite;

  svg{
    margin-left: .5rem;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    // box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1.1);
    // box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    // box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
