nav {
  background: var(--bg-nav) !important;
}

#navbars-itens {
  text-align: center;
}

.bi-moon-stars,
.bi-sun {
  font-size: 1rem;
  color: var(--text-color);
  margin: 0 0.5rem;
}

.bi-sun {
  font-size: 1.3rem;
}

.form-switch {
  display: flex;
  justify-content: center;
}

.navbar-brand {
  height: 50px;
  width: 50px;
  border-radius: 40%;
  background-image: url(../../../assets/images/brand-theme-1.png); // 1
  background-size: cover;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
