<nav class="navbar fixed-top navbar-expand-lg fw-bold navbar-dark" aria-label="Eighth navbar example">
  <div class="container">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbars" aria-controls="navbars" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbars">
      <ul id="navbars-itens" class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngFor="let navItem of listNavbar"><a class="nav-link" href="#{{navItem.idRef}}">{{navItem.name}}</a></li>
      </ul>

      <span class="change-theme-info">TROQUE O TEMA
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
        </svg>
      </span>
      <app-switch-theme></app-switch-theme>
    </div>
  </div>

</nav>
