.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;

  .card{
    z-index: 2;
    background-color: var(--card-background);
    // rgba(46, 46, 46, 95%)
  }
}

.buttons {
  width: 100%;
}
