<div class="content">
  <div class="card container p-5">
    <app-title [title]="'Esse é um título'"></app-title>

    <div class="d-flex flex-wrap">
      <app-button class="" [name]="'Button com background'" [bkg]="false"></app-button>
      <app-button class="" [name]="'Button sem background'" [bkg]="true"></app-button>
    </div>

    <div class="progress-bars">
      <app-progress-bar [count]="70"></app-progress-bar>
      <app-progress-bar [count]="54"></app-progress-bar>
    </div>

    <div class="formulario">forms</div>
  </div>
</div>
