:root {
  //light
  --primary: none;
  --secondary: none;

  // --title-color: #003669;
  --title-color: #697451;
  --text-color: #004f99;

  --btn-grad-1: #a7bf75;
  --btn-grad-2: darkgreen;
  --btn-color: #697451;

  --bg-1: #58aeff;
  --bg-2: #8bc7ff;
  --bg-3: #b9ddff;
  --bg-4: #ffe5c9;
  --bg-nav: #ffffff;

  --mountain-nav-1: darkgreen;
  --mountain-nav-2: #a7bf75;

  --progress-bar: #a7bf75;
}

[data-theme="DARK"] {
  --primary: none;
  --secondary: none;

  --title-color: #b3abd4;
  --text-color: #ffffff;

  --btn-grad-1: #8999c6;
  --btn-grad-2: #161d30;
  --btn-color: #b3abd4;

  --bg-1: #000;
  --bg-2: #212d49;
  --bg-3: #42579b;
  --bg-4: #8999c6;
  --bg-nav: #2c2c2c;

  --mountain-nav-1: grey;
  --mountain-nav-2: #ffffff;

  --progress-bar: #8999c6;
}
