:root {
  //light
  --primary: none;
  --secondary: none;

  // --title-color: #003669;
  --title-color: #004f99;
  --text-color: #004f99;

  --btn-grad-1: #6aa4db;
  --btn-grad-2: #004f99;
  --btn-color: #004f99;

  --bg-1: #58aeff;
  --bg-2: #8bc7ff;
  --bg-3: #b9ddff;
  --bg-4: #ffe5c9;
  --bg-nav: #ffffff;

  --card-background: #b9ddffab;

  --mountain-nav-1: darkgreen;
  --mountain-nav-2: #a7bf75;

  --progress-bar: #004f99;
}

[data-theme="DARK"] {
  --primary: none;
  --secondary: none;

  --title-color: #ffffff;
  --text-color: #ffffff;

  --btn-grad-1: grey;
  --btn-grad-2: rgb(46, 46, 46);
  --btn-color: #ffffff;

  --bg-1: #000;
  --bg-2: #212d49;
  --bg-3: #42579b;
  --bg-4: #8999c6;
  --bg-nav: #2c2c2c;

  --card-background: #2c2c2ce8;

  --mountain-nav-1: grey;
  --mountain-nav-2: #ffffff;

  --progress-bar: grey;
}
