.main {
  // background: linear-gradient(145deg, var(--bg-1) 35%, var(--bg-2) 100%);
  // background: red;
  background: linear-gradient(180deg, var(--bg-1) 24%, var(--bg-2) 64%, var(--bg-3) 84%, var(--bg-4) 100%);

  height: 100vh;
  width: 100vw;
}
